@model List<UserRolesViewModel>

@{
    ViewData["Title"] = "User Roles";
}

<h1>User Roles</h1>

<div class="table-responsive">
    <table class="table table-striped table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Roles</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var userRole in Model)
            {
                <tr>
                    <td>@userRole.User.Name</td>
                    <td>@userRole.User.Email</td>
                    <td>@string.Join(", ", userRole.Roles)</td>
                </tr>
            }
        </tbody>
    </table>
</div>